#menus {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.menu{
    display: inline-block;
    width: 8vh;
    height: 9vh;
}
button.menuButton {
    width: 4.95vh;
    height: 4.95vh;

    border-color: rgba(120, 120, 120, 1);
    border-width: thin;
    border-style: solid;
    border-radius: 2.475vh;

    position: relative;
    top: 10%;
    left : calc(50% - 2.4775vh);

    background: white;
}
div.menuName{
    position: relative;
    width: 100%;
    top: 15%;
}
a.text{
    width: 100%;
    font-size: 1.35vh;
    font-weight: bold;
    size: 15%;
    color: rgba(120, 120, 120, 1);

    display: flex;
    justify-content: center;
}
.menuImg {
    width: 2.97vh;
    height: 2.97vh;
    opacity: 0.5;
    margin: auto;
}

.typeButton {
    width: 49.9%;
    height: 100%;

    margin: 0;
    float: left;

    background-color: white;
    color: rgba(120, 120, 120, 1);

    border-color: rgb(255, 255, 255, 0);
    border-style: solid;
}
#typeButtonText {
    font-size: 2vh;
}